body{
    background:beige;
    margin: 0px;
    padding: 0px;
    
}
a{
    color: black;
}
h1{
    font-size: 40px;
    color: black;
    font-family: monospace;
}
h2{
    padding-left: 20px;
    color: black;;
    font-family:Arial, Helvetica;
    
}
h4{
    padding-left: 20px;
}
p{  padding-left: 20px;
    font-size: 16px;
}
li{
    padding-left: 20px;
    font-size: 16px;
}
div{
    margin: 20PX 0px;
    padding: 20px;
}
input{
    padding: 8px;
    border: 1px solid whitesmoke;
    margin: 15px;
    background:burlywood;
    font-family: serif;
    font-size: 14px;
}
select{
    padding: 5px;
    border: 3px solid white;
}
option{
    background: burlywood;
}
table{
    border: 2px solid aqua;

}
th{
    color: white;
    background-color: teal;
    padding: 5px;
    font-size: 16px;
    font-family: monospace;

}
td{
    color: white;
     background: darkorange;
     padding: 5px 20px;
     font-size: 16px;
     font-family: monospace;

}

.header{
    width: 100%;
    height: 173px;
    text-align: center;
    font-size: 60px;
    padding-top: 97px;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
    background-color: orange;
}
.div1{
    width: 50%;
    height: 150px;
    margin-top: 0px;
    background-color: burlywood;
}
.div2{
    width: 500px;
    height: 100px;
    margin-left: 900px;
    margin-top: -50px;
    padding: 20px;
    background-color: wheat;
    border: 5px solid black;
}
.div3{
    width: 400px;
    height: 100px;
    padding: 20px;
    background-color:coral;
    border: 5px solid black;    
}
.div4{
    width: 400px;
    height: 100px;
    padding: 20px;
    background-color:coral;
    border: 5px solid black;
}
.div5{
    width: 400px;
    height: 100px;
    padding: 20px;
    background-color:coral;
    border: 5px solid black;
}












